# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Terraform plans
*.tfplan

# Crash logs
crash.log

# Local overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# IDE
.vscode/
.idea/

# OS
.DS_Store

terraform.tfvars
*.tfvars
**/state.json
